form {
    max-width: 600px;
    margin-top: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light grey background color */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  


mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-form-field .mat-input-element {
    background-color: #e0f7fa; /* Light cyan background color */
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Button background color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* Change label color when input is focused */
smat-label:active {
    color: #2200ff; /* Change the label color to red when input is in focus */
  }
  
  
  
  /* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}