<div class="container mt-5 " >
	<div class="" style="height: 50px;"></div>

    <h1 class="text-center mt-4 ">Pick the best plan for you</h1>

	<div class=" d-flex flex-wrap mt-4 ">
		<div class="pricing-box pricing-box-bg-image text-center" *ngFor="let item of plans">
			<h5>{{item.name}}
			</h5>
			<p class="price"><sup>$</sup>{{item.price}}<sub>/mo</sub></p>
			<ul class="features-list">
				<li> Duration: {{item.duration}} weeks</li>
				<li> Focus: {{item.focus}}</li>
				<li> basic strength training, and cardio</li>
				<li> {{item.sessions}} sessions (3 sessions per week)</li>
				<li> Customized diet plan for beginners</li>
				<li> Weekly progress tracking and adjustments</li>
			</ul>
			<button class="btn-primary" (click)="AddReservation(item)">Get Started</button>
		</div>

		<!-- <div class="pricing-box pricing-box-bg-image text-center" >
			<h5>Weight Loss Workout Plan
			</h5>
			<p class="price"><sup>$</sup>39<sub>/mo</sub></p>
			<ul class="features-list">
				<li> Duration: 8 weeks</li>
				<li> Focus: Cardiovascular exercises and high-intensity interval training (HIIT) to maximize fat loss</li>
				<li> Includes:24 sessions (3 sessions per week)</li>
				<li> 12 sessions (3 sessions per week)</li>
				<li>Personalized meal plans focused on calorie deficit
				</li>
				<li> Bi-weekly consultations and motivational support
				</li>
			</ul>
			<button class="btn-primary">Get Started</button>
		</div>

		<div class="pricing-box pricing-box-bg-image text-center">
			<h5>Muscle Building Plan
			</h5>
			<p class="price"><sup>$</sup>89<sub>/mo</sub></p>
			<ul class="features-list">
				<li> Focus: Introduction to fitness</li>
				<li> basic strength training, and cardio</li>
				<li> 12 sessions (3 sessions per week)</li>
				<li> Customized diet plan for beginners</li>
				<li> Weekly progress tracking and adjustments</li>
			</ul>
			<button class="btn-primary">Get Started</button>
		</div>
		<div class="pricing-box pricing-box-bg-image text-center">
			<h5>General Fitness Maintenance Plan

			</h5>
			<p class="price"><sup>$</sup>89<sub>/mo</sub></p>
			<ul class="features-list">
				<li> Focus: Introduction to fitness</li>
				<li> basic strength training, and cardio</li>
				<li> 12 sessions (3 sessions per week)</li>
				<li> Customized diet plan for beginners</li>
				<li> Weekly progress tracking and adjustments</li>
			</ul>
			<button class="btn-primary">Get Started</button>
		</div> -->
	</div>

</div>
